Flask>=0.12.3
MarkupSafe==0.23
cycler==0.9.0
future==0.15.2
gunicorn>=19.5.0
itsdangerous==0.24
psycopg2==2.7.5
pyparsing==2.0.6
python-dateutil==2.4.2
python-telegram-bot==2.9.2
pytz==2015.7
requests==2.8.1
six==1.10.0
